* {
	box-sizing: border-box;
}

html, body {
	font-family: $main-font;
	margin: 0;
	padding: 0;
	height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $background-color;
	color:$white;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1.2;
}

h1 { font-size: 2.6rem; }

h2 { font-size: 2.1rem; }

h3 { font-size: 1.75rem; }

h4 { font-size: 1.5rem; }

h5 { font-size: 1.25rem; }

h6 { font-size: 1rem; }

p {
	font-size: 1em;
	line-height: 1.5;
}

a {
	font-size: 1em;
	text-decoration: none;
	cursor:pointer;
	color:$white;
}

a.link {
    color:$white;
    position:relative;
    
    &::after{
      content:"";
      width: 20px;
      height: 1px;
      position: absolute;
      background-color:$white;
      bottom:2px;
      margin-left:12px;
      transform-origin: right;
      will-change: transform;
    }
}

a.link:hover{
	&::after{
	  transform: scaleX(6);
	  transition: all 1s ease;
	}
}

input:focus {
	outline: none;
}

::selection {
	background-color: $main-color;
	color: $white;
}

::-moz-selection {
	background-color: $main-color;
	color: $white;
}

@keyframes scroll-fill {
	0% {
		transform-origin: top;
		transform: scaleY(1);
	}
	50% {
		transform-origin: top;
		transform: scaleY(0);
	}
	51%{
		transform-origin: bottom;
		transform: scaleY(0);
	}
	100%{
		transform-origin: bottom;
		transform: scaleY(1);
	}
}