@charset "UTF-8";

// Fonts
$main-font: 'Circular Book', sans-serif;
$title-font: 'TradeGothic', sans-serif;

// Colors
$white: #ffffff;

$black: #36383E;

$main-color: #FF6600;
$main-color-hover: #EF5F00;

$background-line: rgba(255, 255, 255, 0.1);
$grey: rgba(255,255,255,0.5);

$background-color: #262628;
// Box shadow
$box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.05);

// Border radius
$border-radius: 40px;

// Transition
$easing: cubic-bezier(0.58, 0.01, 0.41, 1);
$transition: all 0.3s $easing;

// Text shadow
$text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);

// Breakpoints
$xs: 576px;
$sm: 720px;
$md: 960px;
$lg: 1140px;
$xl: 1400px;

// lines
$vertical-line-1: 7%;
$vertical-line-2: 13%;
$vertical-line-3: 50%;

$horizontal-line-1: 25%;

//Sizes 
$size-illustration : ($vertical-line-3 - $vertical-line-2) * 2;



// Z-index
$zindex-progress-loader: 20;
$zindex-header: 20;



$zindex-home-backgrounds: -1;
$zindex-home-backgrounds-current: 0;
$zindex-home-illustrations: -1;
$zindex-home-illustrations-current: 1;
$zindex-home-illustrations-previous: 0;

$zindex-home-index: 2;
$zindex-home-title: 2;
$zindex-home-links: 2;
$zindex-home-details: 2;
$zindex-home-scroll: 2;
$zindex-progress-loader: 20;
$zindex-transition-mask: 18;
$zindex-header: 10;

