@charset "UTF-8";

// Fonts
$main-font: 'Circular Book', sans-serif;
$title-font: 'TradeGothic', sans-serif;

// Colors
$white: #ffffff;

$black: #36383E;

$main-color: #FF6600;
$main-color-hover: #EF5F00;

$background-line: rgba(255, 255, 255, 0.1);
$grey: rgba(255,255,255,0.5);

$background-color: #222224;
// Box shadow
$box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.05);

// Border radius
$border-radius: 40px;

// Transition
$easing: cubic-bezier(0.58, 0.01, 0.41, 1);
$transition: all 0.3s $easing;

// Text shadow
$text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);

// Breakpoints
$xs: 576px;
$sm: 720px;
$md: 960px;
$lg: 1140px;
$xl: 1400px;

// Z-index
$zindex-progress-loader: 20;